.product-list {
    padding: 0 40px;
    width: 100%;
    text-align: center;
}

.product-item {
    width: 100%;
    border: grey 1px dotted;
    display: inline-block;
    margin: 10px 0;
    padding-bottom: 20px;
}