<div class="cart-list">
  
  <label class="mr-sm-2" for="productSortCriterion">Sort by:</label>
  <select class="custom-select mr-sm-2" id="productSortCriterion" (change)="onSelectSortOption()" #sortOption>
    <option selected disabled>Choose..</option>
    <option value="name">name</option>
    <option value="price">price</option>
    <option value="amount">amount</option>
  </select>
  <input type="checkbox" (change)="onSelectSortOption(); descOrder = !descOrder"> desc order 

  <div class="col-xs-12 col-sm-8col-lg-8" *ngFor="let product of  baughtProducts | orderByPipe : sortOption.value : descOrder" >
    <div class="product-item">
      <app-cart-item [product]=product[0] (addItem)="addItem($event)" (removeItem)="removeItem($event)"
        appParentHighlight color="gold">
      </app-cart-item>
      <button type="button" class="btn btn-default btn-sm" (click)="onRemove(product)" appParentHighlight color="red">
        <span class="glyphicon glyphicon-remove"></span> Remove
      </button>
    </div>
  </div>
  <div class="total">
    <h3> {{ totalAmount | i18nPlural: messageMapping }} </h3>
    <h3 *ngIf="totalAmount > 0">Total price: {{ totalPrice | currency : 'USD' : 'symbol' : '.2-2' }}</h3>
  </div>
</div>
<div>
  <button class="btn btn-info btn-lg completeBtn" (click)="completeOrder()">complete order</button>
</div>
